.appContainer {
  display: flex;
  width: 1024px;
  padding: 0px 15px;
  margin: 0 auto;
}

.appNavigation {
  width: 17%;
  margin: 10px 15px 10px 0px;
  padding: 5px;
}

.appContent {
  width: 83%;
  margin: 10px 15px 10px 0px;
  padding: 5px;
}